.git
.vscode
node_modules
dist
coverage
npm-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
tmp
uploads/
media/
Dockerfile
.dockerignore
**/*.md
node_modules
npm-debug.log
dist
uploads
coverage
*.local
*.log
.git
.vscode
**/.DS_Store
